@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:wght@200;300;400;500;600&display=swap');

:root {
    --text: #e8ebee;
    --text2: #9b9d9f;
    --background: #080808;
    --background2: #0b0b0b;
    --primary: #6F36FF;
    --outline: #212121;
    --headerFont: poppins, impact;
    --mainFont: "open sans", impact;
    --logoFont: prompt, impact;
    background-color: var(--background);
    color: var(--text);
    font-family: var(--mainFont);
}
ul {
    padding: 0;
}

a {
    color: var(--text);
    text-decoration: none;
}

body {
    font-family: var(--mainFont);
    font-weight: 400;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--headerFont);
    font-weight: 600;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}
h1 {
    font-size: 5.652rem;
}

h2 {
    font-size: 3.997rem;
}

h3 {
    font-size: 2.827rem;
}

h4 {
    font-size: 1.999rem;
}

h5 {
    font-size: 1.414rem;
}

p {
    font-size: 1rem;
}


small {
    font-size: 0.707rem;
}

header,
footer {
    font-family: var(--logoFont);
    user-select: none;
}

header .desktop {
    display: flex;
    justify-content: space-between;
    padding-inline: 4em;
    background-color: none;
}

header>.desktop>* {
    min-width: 11em;
    padding: 5px;
}

header * {
    vertical-align: middle;
}

header a {
    text-decoration: none;
    color: var(--text2);
}

header .current {
    color: var(--text);
}

header span {
    font-size: 2em;
}

header .nav-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    column-gap: 1em;
    align-items: center;
}

header .nav-socials i {
    font-size: 2em;
    color: var(--text);
}

header .nav-socials .socials-container {
    text-align: end;
}

header .nav-socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mobile {
    display: none;
}

header .mobile {
    text-align: center;
    border-block-end: 1px solid var(--outline);
}

footer .desktop {
    display: flex;
    justify-content: space-around;
    border-block-start: 1px solid var(--outline);
    padding: 1em;
}

footer .desktop ul {
    list-style: none;
    padding: 0;
}

footer .desktop>div {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 20em;
}

footer .desktop a {
    text-decoration: none;
    color: var(--text2);
}

footer .mobile {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-block-start: 1px solid var(--outline);
    padding-block-start: 10px;
    overflow: auto;
    background-color: var(--background);
}

footer .mobile .mobile-footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .mobile ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

footer .mobile ul a {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--text2);
    text-decoration: none;
}

footer .mobile ul .current {
    color: var(--text);
}

footer .desktop ul .current {
    color: var(--text);
}

footer a,
header a,
header i,
header span {
    transition: all 0.4s;
}

footer a:hover,
header a:hover,
header i:hover,
header span:hover {
    color: var(--primary);
}

.desktop-footer-element3 small {
    display: flex;
    flex-direction: column;
}

.text-emphasis {
    background-image: url(../images/background-test.png);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.hero h5 {
    font-weight: 400;
}

.hero .hero-btn {
    font-weight: 600;
    padding-inline: 0.5em;
    padding-block: 0.2em;
    background-color: var(--primary);
    border-radius: 1em;
    margin-block-start: 1em;
    font-size: 1.5em;
    transition: all 0.4s;
}

.hero .hero-btn:hover {
    filter: brightness(1.1);
    box-shadow: 0 5px 70px rgba(112, 56, 255, 0.15);
}

.hero .hero-btn * {
    margin-inline: 0.3em;
}
.hero > i {
    margin-block: 6em;
    display: block;
    text-align: center;
}
.hero > * {
    padding-block-start: 1em;
}
.hero{
    padding-inline: 5vi;
    background-image: url(../images/herobackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    padding-inline: 5vi;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: 4em;
}
.feature-list-element {
    max-width: 20em;
    margin-block: 4em;
}

.feature-list-element > i {
    font-size: 2em;
    margin-block-start: 0.5em;
}

.feature-list-element > * {
    margin-block: 0.2em;
}

.how-it-works-element {
    max-width: 20em;
    margin-block: 4em;
}

.how-it-works-element > i {
    font-size: 2em;
    margin-block-start: 0.5em;
    color: var(--text2);
}

.how-it-works-element > * {
    margin-block: 0.2em;
}

.learn-more-btn {
    display: inline-block;
    background-color: var(--background2);
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: all 0.4s;
    margin-block: 0.4em;
    color: var(--text2);
}

.learn-more-btn span {
    margin-inline-end: 0.5em;
}

.learn-more-btn:hover {
    color: var(--text);
}
.learn-more-btn-2 {
    display: inline-block;
    padding: 0.5em 0em;
    transition: all 0.4s;
    margin-block: 0.4em;
    color: var(--text2);
    border-block-end: 1px solid var(--text2);
}
.learn-more-btn-2 span {
    margin-inline-end: 0.53em;
}
.learn-more-btn-2 i {
    transition: all 0.6s;
}
.learn-more-btn-2:hover {
    color: var(--text);
    border-block-color: var(--text);
    
}
.learn-more-btn-2:hover i {
    transform: translateX(0.3em);
    margin-inline-end: 0.3em;
}

.buy-now-btn {
    display: inline-block;
    background-color: var(--primary);
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: all 0.4s;
    margin-block: 0.4em;
    color: var(--text);
}
.buy-now-btn span {
    margin-inline-end: 0.5em;
}

.buy-now-btn:hover {
    transform: translateY(-5px);
}
.buy-now-btn-2 {
    display: inline-block;
    border: 1px solid var(--primary);
    background-color: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: all 0.4s;
    margin-block: 0.4em;
    color: var(--text);
}
.buy-now-btn-2 span {
    margin-inline-end: 0.5em;
}

.buy-now-btn-2:hover {
    transform: translateY(-5px);
    color: var(--primary);
}

.single-feature, .video-testomonial {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    max-height: 38em;
    background-color: var(--background2);
}


.single-feature-text, .video-testomonial-text {
    min-height: 20em;
    max-width: 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video-testomonial {
    padding-block: 1em;
    border: none;
}

.video {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.feature-image-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
}
.images-left {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 0.5em;
    overflow: hidden;
}
.images-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 0.5em;
    overflow: hidden;
}
.feature-image-wrapper img {
    filter: grayscale(1);
    transition: all 2s;
}

.feature-image-wrapper img:hover {
    transform: scale(1.03);
    filter: grayscale(0);
}

.testimonials {
    display: flex;
    flex-direction: column;
    display: inline-block;
    background-color: var(--background2);
    border-radius: 3em;
}

.testimonial-text h5 {
    font-weight: 500;
}

.testimonial-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3em;
}

.stars {
    margin-block: 1em;
    background-image: url(../images/background-test.png);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.testimonial-user {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.testimonial-user .users {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 2em;
}
.users i {
    font-size: 2em;
}
.testimonial-user .profilepicture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: 2em;
}

.centered {
    text-align: center;
    padding-block-end: 5em;
}

.cta {
    transition: all 0.4s;
    background-image: url(../images/background-test.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--background);
    border-radius: 3em;
    margin-block: 5em;
    padding-block: 5em;
    margin-inline: 5vw;
}

.contact img {
    height: 40vw;
    border: 1px solid var(--outline);
    border-radius: 5px;
}

.contact-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact-area div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-card {
    margin-block: 4em;
}

.contact-card > * {
    margin-block: 0em;
    padding: 0.2em;
}

.contact-card > i {
    font-size: 1.5em;
}

.contact-card > a {
    text-decoration: underline;
    transition: all 0.4s;
}
.contact-card > a:hover {
    color: var(--primary);
}

.contactform textarea, input {
    width: 98%;
    font-family: var(--logoFont);
    resize: none;
    margin-block: 1em;
    font-size: 1.2em;
    color: var(--text2);
    background-color: var(--background2);
    border: 1px solid var(--outline);
    padding: 0.4em;
    outline: none;
    transition: all 0.6s;
    outline: 1px solid var(--outline);
}
.contactform input:focus, textarea:focus {
    outline: 1px solid var(--primary);
}

.contactform input[type="radio"] {
    width: auto;
}

.form-completion {
    display: grid;
    grid-template-columns: 0.8fr 0.2fr;
}
.pricing > * {
    text-align: center;
}
.pricing ul {
    list-style: none;
}
div[class="most-popular-container1"] {
    background-image: url(../images/background-test.png);
    margin: 0;
    padding: 0;
    border-radius: 1em;
}

div[class="most-popular-container2"] {
    background-color: var(--background2);
    margin: 2px;
    display: inline-block;
    width: 98.5%;
    border-radius: 1em;
}

div[class="most-popular"]{
    text-align: center;
    background-image: url(../images/background-test.png);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding-block: 4px;
    user-select: none;
}
.horizontal-line {
    border: 1px solid var(--outline);
}
.price-flex-wrapper {
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
}
.price-flex-element {
    position: relative;
    padding: 2em;
    background-color: var(--background2);
    border: 1px solid var(--outline);
    margin-block: 1em;
    text-align: left;
}
.price-flex-element h4 {
    margin-block: 1em;
}
.price-flex-element ul i {
    margin-inline-end: 1em;
    margin-block: 0.5em;
}
.package-selection span label{
    text-align: center;
    display: block;
    background-color: var(--outline);
    margin-block: 1em;
    padding-block: 0.5em;
    border-radius: 5px;
    transition: all 0.2s;
    user-select: none;
    outline: 1px solid var(--outline);
}
.package-selection input[type="radio"]:checked + span label{
    background-color: var(--background2);
    outline: 1px solid var(--outline);
}
.package-selection input {
    display: none;
    
}

.faq ul {
    list-style: none;
}
#accordian label {
    user-select: none;
}
#accordian input {
    display: none;
}
#accordian li {
    background-color: var(--background2);
    border: 1px solid var(--outline);
    border-radius: 5px;
    margin-block: 1em;
    padding: 1em;
}
#accordian label {
    display: flex;
    justify-content: space-between;
}
#accordian .faq-content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
}
#accordian input[type="checkbox"]:checked + .faq-content {
    max-height: 208px;
    margin-block-start: 1em;
}

.team img {
    border-radius: 100%;
    border: 1px solid var(--outline);
}
.team {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1em;
    
}
.team-container {
    background-color: var(--background2);
}
.team-member {
    max-width: 205px;
}
.team small {
    color: var(--text2);
}
.team-socials {
    margin-block: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 5px;
    font-size: 1.5em;
}
.empathy-section-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
}
.empathy-section-container > div {
    max-width: 30em;
    margin-block: 3em;
    min-height: 300px;
    background-color: var(--background2);
    border: 1px solid var(--outline);
    padding: 2em;
    border-radius: 1em;
}
.review-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;
}
.review-card {
    max-width: 250px;
    
}
.review-card img {
    border-radius: 100%;
}
.review-card > * {
    margin-block: 0.2em;
}
.reviews {
    background-color: var(--background2);
    padding-block: 5em;
}

.page-header {
    background-image: url(../images/headerimg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
#switch-style {
    background-color: transparent;
    border: none;
}
.hours {
    background-color: var(--background2);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.hours table {
    display: inline-block;
}
.hours td {
    padding: 0.2em 1em;
    border-radius: 4px;
}
.hours tr td:nth-of-type(even) {
    border: 1px solid var(--primary);
}
.hours tr:nth-of-type(even) td:nth-of-type(odd) {
    background-color: var(--outline);
}
.hours tr:nth-of-type(odd) td:nth-of-type(odd) {
    background-color: var(--background);
}
.sites-container ul {
    list-style-image: url(../images/dot.png);
}
@media (max-width: 768px) {

    header .desktop,
    footer .desktop {
        display: none;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    header .mobile,
    footer .mobile {
        display: block;
    }

    html {
        font-size: 100%;
    }

    h1 {
        font-size: 3.053rem;
    }

    h2 {
        font-size: 2.442rem;
    }

    h3 {
        font-size: 1.954rem;
    }

    h4 {
        font-size: 1.563rem;
    }

    h5 {
        font-size: 1.250rem;
    }

    small {
        font-size: 0.800rem;
    }

}

@media (min-width: 768px) {
    section {
        padding-inline: 14vw;
    }
    
    .feature-list > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 1em;
    }
    .how-it-works > div > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 1em;
    }
    .testimonials {
        display: flex;
        flex-direction: row;
    }
    
    .testimonial-text {
        width: 70%;
    }
    .vertical-line {
        border-left: 2px solid var(--text);
      }
    .cta {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-inline: 5em;
        padding-inline: 5em; 
    }
    .contactform textarea, input {
        width: 98%;
    }
    section {
        padding-block: 10em;
    }
    header {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: transparent;
        z-index: 1;
    }
    #desktop-header-placeholder {
        background-color: transparent;
        transition: all 0.4s;
        border-block-end: 0px solid var(--outline);
    }
    #desktop-header {
        background-color: var(--background2);
        transition: all 0.4s;
        border-block-end: 1px solid var(--outline);
    }
    .hero {
        padding-block-start: 10em;
    }
    .price-flex-element {
        min-width: 15em;
        min-height: 33em;
    }
    .testimonials {
        padding: 5em;
    }
    .single-feature{
        padding-block: 0;
    }
}
@media (max-width: 472px) {
    .team-member {
        display: flex;
        flex-direction: row;
        max-width: max-content;
        margin-block: 1em;
    }
    .team-member > * {
        margin-inline: 0.5em;
    }
    .team-member img {
        height: 30vw;
    }
    .team-member div:nth-of-type(1) {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}