@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --text: #e8ebee;
    --text2: #9b9d9f;
    --background: #080808;
    --background2: #101010;
    --primary: #6F36FF;
    --outline: #151515;
    --headerFont: poppins, impact;
    --mainFont: "open sans", impact;
    background-color: var(--background);
    color: var(--text);
    font-family: var(--mainFont);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-weight: 400;
}
h1, h2, h3, h4, h5 {
    font-family: var(--headerFont);
    font-weight: 700;
}
h1 {
    font-size: 5.652rem;
}

h2 {
    font-size: 3.997rem;
}

h3 {
    font-size: 2.827rem;
}

h4 {
    font-size: 1.999rem;
}

h5 {
    font-size: 1.414rem;
}

header, footer {
    font-family: var(--headerFont);
}

header .desktop {
    font-family: var(--headerFont);
    display: flex;
    justify-content: space-between;
    padding-inline: 4em;
    border-block-end: 1px solid var(--outline);
}
header > .desktop > * {
    min-width: 11em;
    padding: 5px;
}
header * {
    vertical-align: middle;
}
header a {
    text-decoration: none;
    color: var(--text2);
}
header .current {
    color: var(--text);
}
header span {
    font-size: 2em;
}

header .nav-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    column-gap: 1em;
    align-items: center;
}
header .nav-socials i {
    font-size: 2em;
    color: var(--text);
}
header .nav-socials .socials-container {
    text-align: end;
}

header .nav-socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mobile {
    display: none;
}

header .mobile {
    text-align: center;
    border-block-end: 1px solid var(--outline);
}

footer .desktop {
    display: flex;
    justify-content: space-around;
    border-block-start: 1px solid var(--outline);
    padding: 1em;
}

footer .desktop ul {
    list-style: none;
    padding: 0;
}
footer .desktop > div {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 20em;
}
footer .desktop a {
    text-decoration: none;
    color: var(--text2);
}

footer .mobile{
    position: fixed;
    bottom: 10px;
    width: 100%;
    border-block-start: 1px solid var(--outline);
    padding-block-start: 10px;
}

footer .mobile .mobile-footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer .mobile ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
footer .mobile ul a{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--text2);
    text-decoration: none;
}

footer .mobile ul .current {
    color: var(--text);
}

footer .desktop ul .current {
    color: var(--text);
}

@media (max-width: 1200px) {
    header .desktop, footer .desktop {
        display: none;
    }

    header .mobile, footer .mobile {
        display: block;
    }
}
